/Generator/ export-ignore
/Tests/ export-ignore
/.coveralls.yml export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.php_cs export-ignore
/CHANGELOG.md export-ignore
/README.md export-ignore
/infection.json.dist export-ignore
/sonar-project.properties export-ignore
