/Tests/ export-ignore
/.coveralls.yml export-ignore
/.crowdin.yml export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/captainhook.json export-ignore
/CHANGELOG.md export-ignore
/ecs.php export-ignore
/Makefile export-ignore
/README.md export-ignore
/infection.json.dist export-ignore
/phpstan.baseline.neon export-ignore
/phpstan.neon export-ignore
/rector.php export-ignore
/sonar-project.properties export-ignore
*.xsd export-ignore
