parameters:
	ignoreErrors:
		-
			message: '#^Cannot access property \$newHash on TYPO3\\CMS\\Frontend\\Controller\\TypoScriptFrontendController\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: Classes/Cache/PagesCacheService.php

		-
			message: '#^Instanceof between mixed and Brotkrueml\\Schema\\Core\\Model\\TypeInterface will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: Classes/Core/Model/AbstractBaseType.php

		-
			message: '#^Anonymous function should return string but returns array\<string\>\|string\.$#'
			identifier: return.type
			count: 1
			path: Classes/Core/Model/MultipleType.php

		-
			message: '#^Cannot call method setId\(\) on Brotkrueml\\Schema\\Core\\Model\\TypeInterface\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: Classes/Core/ViewHelpers/AbstractBaseTypeViewHelper.php

		-
			message: '#^Cannot call method setProperty\(\) on Brotkrueml\\Schema\\Core\\Model\\TypeInterface\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: Classes/Core/ViewHelpers/AbstractBaseTypeViewHelper.php

		-
			message: '#^Parameter \#1 \$value of method SplDoublyLinkedList\<Brotkrueml\\Schema\\Core\\Model\\TypeInterface\>\:\:push\(\) expects Brotkrueml\\Schema\\Core\\Model\\TypeInterface, Brotkrueml\\Schema\\Core\\Model\\TypeInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: Classes/Core/ViewHelpers/AbstractBaseTypeViewHelper.php

		-
			message: '#^Parameter \#1 \$attributes \(array\{identifier\: string\}\) of method Brotkrueml\\Schema\\Lowlevel\\ConfigurationModuleProvider\\Types\:\:__invoke\(\) should be contravariant with parameter \$attributes \(array\) of method TYPO3\\CMS\\Lowlevel\\ConfigurationModuleProvider\\ProviderInterface\:\:__invoke\(\)$#'
			identifier: method.childParameterType
			count: 1
			path: Classes/Lowlevel/ConfigurationModuleProvider/Types.php

		-
			message: '#^Cannot call method addProperty\(\) on Brotkrueml\\Schema\\Core\\Model\\TypeInterface\|null\.$#'
			identifier: method.nonObject
			count: 3
			path: Classes/Manager/SchemaManager.php

		-
			message: '#^Cannot call method clearProperty\(\) on Brotkrueml\\Schema\\Core\\Model\\TypeInterface\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: Classes/Manager/SchemaManager.php

		-
			message: '#^Class cognitive complexity is 27, keep it under 20$#'
			identifier: complexity.classLike
			count: 1
			path: Classes/Manager/SchemaManager.php

		-
			message: '#^Cognitive complexity for "Brotkrueml\\Schema\\Manager\\SchemaManager\:\:setWebPage\(\)" is 14, keep it under 10$#'
			identifier: complexity.functionLike
			count: 1
			path: Classes/Manager/SchemaManager.php
