includes:
    - phpstan.baseline.neon

parameters:
    phpVersion: 80200
    level: 8
    paths:
        - Classes
    treatPhpDocTypesAsCertain: false
    cognitive_complexity:
        class: 20
        function: 10

services:
    -
        class: Symplify\PHPStanRules\Rules\ForbiddenFuncCallRule
        tags: [phpstan.rules.rule]
        arguments:
            forbiddenFunctions:
                - eval
                - dump
                - die
                - compact
                - var_dump
                - var_export
    -
        class: Symplify\PHPStanRules\Rules\ForbiddenNodeRule
        tags: [phpstan.rules.rule]
        arguments:
            forbiddenNodes:
                - PhpParser\Node\Expr\Empty_
                - PhpParser\Node\Stmt\Switch_
                - PhpParser\Node\Expr\ErrorSuppress
