<phpunit
    convertDeprecationsToExceptions="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Unit tests">
            <directory>Unit/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../Classes/</directory>
            <exclude>
                <directory>../Classes/Model/Type/</directory>
                <directory>../Classes/ViewHelpers/Type/</directory>
            </exclude>
        </whitelist>
    </filter>
    <extensions>
        <extension class="Brotkrueml\Schema\Tests\Hooks\BypassFinalHook"/>
    </extensions>
</phpunit>
